    <div class="center jumbotron">
        <h1>Twitter Clone App</h1>
        <p>This is the home page on the twitter clone web application
        built with Ruby on Rails</p>
        <%= link_to "Sign Up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
    <%= link_to image_tag("rails.svg", alt: "Rails Logo", width: "200"), "https://rubyonrails.org" %>