<footer class="footer">
  <small>
    <p>Twitter clone application</p>
  </small>
  <ul>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><a href="https://www.twitter.com">News</a></li>
  </ul>
</footer>
