<footer class="footer">
   <small>
     <p>Twitter clone application</p>
   </small>
   <ul>
    <li>
       <%= link_to "Home", '#' %>
       <%= link_to "About", '#' %>
       <a href="https://www.twitter.com">News</a>
    </li>
   </ul>
</footer>
